/*Dicas*/
.dicas {
    text-align: center;
    margin: 0 70px;
    margin-top: 150px;
    margin-bottom: 30px;
}
.dicas2 {
    text-align: center;
    margin: 0 70px;
    margin-left: 130px;
}

.dicas h3 {
    font-size: 40px;
    color: #661872;
    font-family: 'Playfair Display', serif;
}

.conteudoDicas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
}

.conteudoDicas p {
    margin: 0 40px; 
    max-width: 50%; 
    text-align: justify;
    padding-right: 40px;
}

.conteudoDicas img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

/* navegação */
.link-list {
    list-style-type: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 130px;
    background-color: #d1b9d5;
    width: 100px;
    border-radius: 10px;
    position: fixed;
    z-index: 9999; 
    background-color: rgb(241, 217, 255);
    font-family: 'Playfair Display', serif;
    font-weight: 550;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
}

.link-list li {
    margin-bottom: 10px;
}

.link-list li a {
    display: inline-block;
    padding: 10px 20px;
    color: #661872;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
}

.link-list li a::before {
    content: '';
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; 
    height: 10px; 
    background-color: #661872;
    border-radius: 50%;
}

.link-list li a:hover {
   color: #4d125f;
}

/* Responsividade */
/* conteudo */
@media screen and (max-width: 1175px) {
    .conteudoDicas {
        flex-direction: column;
        align-items: center;
    }

    .conteudoDicas p {
        text-align: justify;
        margin: 0 ; 
        max-width: 100%;
        padding-right: 0;
    }

    .conteudoDicas img {
        width: 450px;
        margin-top: 45px; 
    }
}

@media screen and (max-width: 830px) {
    .conteudoDicas {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: -130px;
        margin-right: -90px;
    }

    .dicas2 h4 {
        margin-left: -130px;
        margin-right: -90px;
    }

    .conteudoDicas p {
        text-align: justify;
        margin: 0 ; 
        max-width: 100%;
        padding-right: 0;
    }

    .conteudoDicas img {
        width: 100%;
        margin-top: 45px; 
        margin-left: 0;
        margin-right: 0;
    }
}

/* Navegação */
@media screen and (max-width: 830px) {
    .link-list {
        position: relative;
        top: 0; 
        width: auto;
        margin-left: 0;
        padding: 20px;
        z-index: auto;
        margin-bottom: -100px;
    }
    
    .link-list li {
        margin-bottom: 5px;
    }
}

