/*Dicas*/
.dicas {
    text-align: center;
    margin: 0 100px;
    margin-bottom: 30px;
}

.dicas h3 {
    font-size: 40px;
    color: #661872;
    font-family: 'Playfair Display', serif;
}

.conteudoDicas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
}
.coluna{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.p1{
    max-width: 70% !important;
    margin-bottom: 30px !important;
}

.coluna p {
    text-align: center; 
    margin: 0; 
}

.conteudoDicas p {
    margin: 0 40px; 
    max-width: 50%; 
    text-align: justify;
}

.conteudoDicas img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.minha-lista {
    list-style-type: decimal;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 20px; 
    text-align: justify;
    margin: 0 110px;
}

.minha-lista li {
    margin-bottom: 10px;
}
/* navegação */
.link-list {
    list-style-type: none;
    padding: 28px;
    margin-top: 130px;
    margin-left: 7px;
    background-color: #d1b9d5;
    width: 100px;
    border-radius: 10px;
    position: fixed;
    z-index: 9999; 
    background-color: rgb(241, 217, 255);
    font-family: 'Playfair Display', serif;
    font-weight: 550;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
}

.link-list li {
    margin-bottom: 10px;
}

.link-list li a {
    display: inline-block;
    padding: 5px 3px 6px 10px;
    color: #661872;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
}



.link-list li a:hover {
   color: #cba962;
}


/* Responsividade */
/* conteudo */
@media screen and (max-width: 1480px) {
    .conteudoDicas {
        flex-direction: column;
        align-items: center;
        margin-left: 130px;
    }

    .dicas2 h4{
        margin-left: 130px;
    }
 

    .conteudoDicas p {
        text-align: justify;
        margin: 0 ; 
        max-width: 100%;
        padding-right: 0;
    }

    .conteudoDicas img {
        width: 450px;
        margin-top: 45px; 
    }
}

@media screen and (max-width: 1175px) {
    .conteudoDicas {
        flex-direction: column;
        align-items: center;
    }

    .conteudoDicas p {
        text-align: justify;
        margin: 0 ; 
        max-width: 100%;
    }

    .conteudoDicas img {
        width: 450px;
         width: 100%;
        margin-top: 45px; 
    }
}

@media screen and (max-width: 830px) {
    .conteudoDicas {
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-left: 0;
    }

    .dicas2 h4{
        margin-left: 0;
    }
    .conteudoDicas p {
        text-align: justify;
        margin: 0 ; 
        max-width: 100%;
        padding-right: 0;
    }

    .conteudoDicas img {
        width: 100%;
        margin-top: 45px; 
    }
}


/* Navegação */
@media screen and (max-width: 830px) {
    .link-list {
        position: relative;
        top: 0; 
        width: auto;
        margin-left: 0;
        padding: 10px;
        z-index: auto;
        margin-top: 40px;
        margin-bottom: 0;
    }
    
    .link-list li {
        margin-bottom: 5px;
    }
}

