body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 255, 255, 0.934);
}

/*navbar*/

.navbar {
    background-color: transparent;
    overflow: hidden;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 1000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}


.navbar.scrolled {
    background-color: #fff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    margin: 0 25px; 
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #661872; 
}

.logo {
    float: left;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto; 
    justify-content: center;
   
}
.nav-links.visible {
    display: flex; 
}
.nav-links li {
    margin-right: 10px;
}

.menu-btn {
    display: none;
}

/*Carrossel*/

.carrossel {
    margin: 6% auto;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 1600px;
    height: 150%;
    object-fit: cover;
}

.manual-navigation{
    position: absolute;
    width: 1500px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #661872;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 1500px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}



/*principal*/


.linha-meio {
    display: flex;
    align-items: center;
}

.linha-meio .linha {
    flex: 1;
    height: 2px;
    background-color: #661872;
}

.linha-meio span {
    margin: 0 10px; 
}

.linha {
    flex: 1;
    height: 1px;
    background-color: #661872; 
}

.letra{
    font-size: 30px;
    color: #661872;
}



/* Responsividade*/

/* navbar */
@media screen and (max-width: 690px) {
    .navbar {
        overflow: hidden;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #641d6f;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out; 
    }

    .nav-links.visible {
        transform: translateX(0); 
    }

    .nav-links li {
        text-align: center;
        padding: 25px;
    }
    .nav-links li a {
        font-size: 25px;
        color: #fff 
    }


    .menu-btn {
        display: block;
        position: fixed;
        top: 25px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
    }

    .menu-btn:hover {
        color: #661872;
    }
}
/*carrossel*/
@media screen and (max-width: 1285px) {
    .carrossel {
        display: none;
    }
    }