body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 217, 255);
    font-family: 'Roboto', sans-serif;
}

/*navbar*/

.navbar {
    background-color: rgb(241, 217, 255);
    font-family: 'Playfair Display', serif;
    font-weight: 550;
    overflow: hidden;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    max-height: 80px; 
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 1000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}



.navbar.scrolled {
    background-color: rgb(235, 200, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #412d59;
    text-decoration: none;
    font-size: 18px;
    margin: 0 25px; 
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #cba962; 
}

.logo {
    float: left;
}

.logo img {
    max-height: 90px; 
    max-width: 100%;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto; 
    justify-content: center;
   
}
.nav-links.visible {
    display: flex; 
}
.nav-links li {
    margin-right: 10px;
}

.menu-btn {
    display: none;
}



/*principal*/
.imagem-full {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative; 
    z-index: 999999; 
}

.imagem-full img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
}

.linha-meio {
    position: relative; 
    display: flex;
    align-items: center;
    margin-top: 20px; 
        left: 0;
        right: 0;
        margin-bottom: 20px;
}

.linha-meio .linha {
    flex: 1;
    height: 2px;
    background-color: #412d59;
}

.linha-meio span {
    margin: 0 10px;
}

.linha {
    flex: 1;
    height: 1px;
    background-color: #412d59;
}

.letra {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #412d59;
}

/*Chamada*/


.chamada {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.chamada2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    color: #fff;
    height: 260px;
    width: 650px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chamada h2 {
    color: #4d125f;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}
.chamada h3 {
    margin-top: -50px;
    color: #4a0061;
    font-style: italic;
    font-size: 65px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #661872;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin-top: -30px;
}

.btn:hover {
    background-color: #4d125f;
}



/* Sobre */

.sobre {
    text-align: center;
    margin: 0 70px;
    margin-top: 120px;
    margin-bottom: 30px;
}

.sobre h3 {
    font-size: 40px;
    color: #661872;
    font-family: 'Playfair Display', serif;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
}

.conteudo p {
    margin: 0 40px; 
    max-width: 50%; 
    text-align: justify;
    padding-right: 40px;
}

.conteudo img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}


/*Galeria*/
.galeria {
    text-align: center;
    padding: 40px 0;
}

.galeria h2 {
    color: #661872;
    font-size: 45px;
    font-family: 'Playfair Display', serif;
}

.grid-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
}

.grid-item img {
    width: 500px;
    height: 500px;
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
}

.grid-item img:hover {
    transform: scale(1.1);
}

.inst p{
    font-size: 20px;
    color: #4d125f;
    margin-top: -15px;
}
.btn-instagram {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4d125f;
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-instagram:hover {
    background-color: #cba962; 
}

/* Footer */
.footer {
    background-color: #661872;
    color: #fff;
    padding: 10px 0;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 10px;
}


.footer-content ul li a{
   color: #fff;
   text-decoration: none;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* Responsividade*/
/* navbar */
@media screen and (max-width: 690px) {
    .navbar {
        overflow: hidden;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #641d6f;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out; 
    }

    .nav-links.visible {
        transform: translateX(0); 
    }

    .nav-links li {
        text-align: center;
        padding: 25px;
    }
    .nav-links li a {
        font-size: 25px;
        color: #fff 
    }


    .menu-btn {
        display: block;
        position: fixed;
        top: 35px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: #412d59;
    }

    .menu-btn:hover {
        color: #661872;
    }
}
/* linha */
@media screen and (max-width: 768px) {
    .linha-meio .linha {
        height: 1px; 
    }

    .linha-meio span {
        font-size: 22px; 
    }
}

@media screen and (max-width: 480px) {
    .linha-meio {
        text-align: center; 
    }

    .linha-meio span {
        font-size: 18px; 
        display: block;
        margin: 10px auto; /
    }
}

/*chamada */
@media screen and (max-width: 768px) {
    .chamada2 {
        height: auto;
        width: 90%; 
        padding: 15px;
    }

    .chamada h2 {
        font-size: 40px; 
    }

    .chamada h3 {
        font-size: 45px; 
        margin-top: -30px;
    }

    .btn {
        padding: 8px 16px; 
        font-size: 14px; 
        margin-top: -20px; 
    }
}

@media screen and (max-width: 480px) {
    .chamada h2 {
        font-size: 30px; 
    }

    .chamada h3 {
        font-size: 35px; 
        margin-top: -20px;
    }

    .btn {
        padding: 6px 12px; 
        font-size: 12px; 
        margin-top: -10px; 
    }
}

/* sobre */
@media screen and (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .conteudo p {
        text-align: justify;
        margin: 0 ; 
        max-width: 100%;
        padding-right: 0;
    }

    .conteudo img {
        width: 500px;
        width: 100%;
        margin-top: 45px; 
    }
}


/* galeria*/
@media screen and (max-width: 768px) {
    .grid-item img {
        width: calc(70% - 5px); 
        max-width: 100%; 
        height: auto;
        margin-left: 0; 
        margin-bottom: 20px; 
    }
    .galeria h2 {
        font-size: 28px;
    }
}
@media screen and (max-width: 480px) {
    .grid-item img {
        width: calc(80% - 20px); 
    }
}

/* footer */
@media screen and (max-width: 650px) {
    .footer-content {
        align-items: center;
    }

    .footer-content ul li {
        margin: 10px 0;
        padding: 6px;
    }
}
@media screen and (max-width: 450px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-content ul li {
        margin: 10px 0;
        padding: 0;
        text-align: center; 
        display: block; 
        margin-bottom: 20px;
    }

    .footer-content ul li a {
        display: block;
    
    }
}
