body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 255, 255, 0.934);
}

/*navbar*/

.navbar {
    background-color: transparent;
    overflow: hidden;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.5s ease-in-out;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.navbar.scrolled {
    background-color: #fff; /* Cor de fundo quando rolar para baixo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    margin: 0 25px; /* Ajuste de margem para centralizar os links */
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #661872; /* Cor ao passar o mouse sobre os links */
}

.logo {
    float: left;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto; /* Posiciona os elementos à direita */
    justify-content: center;
    /* Adicione esta regra para esconder inicialmente os links quando a tela é pequena */
}
.nav-links.visible {
    display: flex; /* Exibe os links quando a classe 'visible' é adicionada */
}
.nav-links li {
    margin-right: 10px; /* Ajuste de margem entre os elementos <li> */
}

/*principal*/
h1{
    font-size: 30px;
    text-align: center;
    margin-top: 4000px;
}

/* Adicione esta regra para esconder inicialmente os links quando a tela é pequena */
.nav-links {
    display: none;
}

.menu-btn {
    display: none; /* Esconde o botão em telas maiores */
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Ajuste conforme necessário para evitar sobreposição com a barra de navegação */
        left: 0;
        width: 100%;
        background-color: #fff; /* Cor de fundo do menu responsivo */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-btn {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
    }

    .menu-btn:hover {
        color: #661872;
    }

    /* Esconde os links na barra de navegação principal quando a tela é pequena */
    .navbar {
        overflow: hidden;
    }
}
    