body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 255, 255, 0.934);
    
}

/*navbar*/

.navbar {
    background-color: rgb(241, 217, 255);
    overflow: hidden;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 1000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}


.navbar.scrolled {
    background-color: #fff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    margin: 0 25px; 
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #661872; 
}

.logo {
    float: left;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto; 
    justify-content: center;
   
}
.nav-links.visible {
    display: flex; 
}
.nav-links li {
    margin-right: 10px;
}

.menu-btn {
    display: none;
}



/*principal*/

.imagem-full {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative; 
    z-index: 999999; 
}

.imagem-full img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}




.linha-meio {
    position: relative; 
    display: flex;
    align-items: center;
    margin-top: 20px; 
        left: 0;
        right: 0;
}

.linha-meio .linha {
    flex: 1;
    height: 2px;
    background-color: #661872;
}

.linha-meio span {
    margin: 0 10px;
}

.linha {
    flex: 1;
    height: 1px;
    background-color: #661872;
}

.letra {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #661872;
}

/*Card*/


.cardtotal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    margin-top: -420px;
}

.card-header {
    background-color: #661872;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagem {
    margin-bottom: 20px;
}

.mensagem p {
    margin: 0;
    line-height: 1.5;
    color: #333;
}
.mensagem i {
    margin-right: 10px;
    color: #000000;
    font-size: 20px;
}

.mensagem .fab-whatsapp {
    color: #ffffff;
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #661872;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #4d125f;
}


/* Responsividade*/

/* navbar */
@media screen and (max-width: 690px) {
    .navbar {
        overflow: hidden;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #641d6f;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out; 
    }

    .nav-links.visible {
        transform: translateX(0); 
    }

    .nav-links li {
        text-align: center;
        padding: 25px;
    }
    .nav-links li a {
        font-size: 25px;
        color: #fff 
    }


    .menu-btn {
        display: block;
        position: fixed;
        top: 25px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
    }

    .menu-btn:hover {
        color: #661872;
    }
}
